<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></head>
    {% endblock %}
<body>

    {% block header %}
        {% include './Front/Layout/header.html.twig' %}
    {% endblock %}

    {% block topbar %}
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Bienvenue sur iComm</h1>
                <p>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('logout') }}" class="btn btn-secondary my-2">Se déconnecter</a>
                    {% else %}
                    <a href="{{ path('register') }}" class="btn btn-primary my-2">S'inscrire</a>
                    <a href="{{ path('app_login') }}" class="btn btn-secondary my-2">Se connecter</a>
                    {% endif %}
                </p>
                <p class="lead text-muted">
                {% block topbartext %}Premier site de vente en ligne qui vend tout et n'importe quoi, livré sans design !<br>Ci dessous une selections de nos meilleurs articles{% endblock %}
                </p>
            </div>
        </section>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}
        {% include './Front/Layout/footer.html.twig' %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{{ asset('build/app.js') }}"></script>

</body>
</html>